*{
   margin: 0; 
   padding: 0;
}

/* shared-style */
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body{
    background-color: greenyellow;
    margin: 0 auto;
}
.btn{
    font-size: 16px;
    font-style: bold;
    font-weight: 600;
    line-height: 19px;
    padding: 12px 16px;
    border-radius: 4px;
    background: var(--#30B868, rgba(70, 145, 101, 1));
}
/* main style */
nav .container{
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
        
}

nav ul{ 
    display: flex;
    text-align: center;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
}

/* nav end */

 .frame-699{ 
    border: 5px solid greenyellow;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column; 
    padding: 70px 120px 134px 120px;
    /* background-color: aqua; */
    /* justify-content: flex; */
    gap: 32;
    
}

 .frame-699 h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    justify-content: center;
    color: rgba(48, 184, 104, 1);
    
}

.frame-699 h2{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    justify-content: center;
    color: black;
}

.frame-699 p{
    width: 770px;
    height: 60px;
    font-style: regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    /* margin-top: 0 auto; */
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    justify-content: center;
    /* color: black; */
    
}
.bg-img{ 
    /* margin: -39px -221px -650px -221px;  */
    width: 100%
    height: 582px;
    
}

header .frame-698 .first-button-frame{ 
    width: 229px;
    height: 36px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-style: medium;
}


.card{
 width: 322px;
 height: 300px;
 border-radius: 8px;
 gap: 16;
 padding: 24px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 list-style: none;
 background: rgba(255, 255, 255, 1);
}
.card img{
    width: 32px;
    height: 32px;
    padding: 2.5px 5.5px;
    border: 14.38px 14.07px 13.62px 13.93px;
    background: #F95555;
    box-sizing: border-box;

}

.card h2{
    width: 274px;
    height: 29px;
}
.card p{
    width: 274px;
    height: 40px;
}



.knowledge{
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}



footer{
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
}
/* footer div{ */
    display: flex;
    text-decoration: none;
    list-style: none;
    
}
/* footer ul{  */
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}
footer p{
    text-align: center bottom;
}