*{
   margin: 0; 
   padding: 0;
}

/* shared-style */
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body{
    /* background-color: #c5f0d9; */
    margin: 0 auto;
}
.btn{
    font-size: 16px;
    font-style: bold;
    font-weight: 600;
    line-height: 19px;
    padding: 12px 16px;
    border-radius: 4px;
    background: var(--#30B868, rgba(70, 145, 101, 1));
}
/* main style */
nav .container{
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
        
}

nav ul{ 
    display: flex;
    text-align: center;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
}

/* nav end */

 .frame-699{ 
    border: 5px solid greenyellow;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column; 
    padding: 70px 120px 134px 120px;
    /* background-color: aqua; */
    /* justify-content: flex; */
    gap: 32;
    
}

 .frame-699 h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    justify-content: center;
    color: rgba(48, 184, 104, 1);
    
}

.frame-699 h2{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    justify-content: center;
    color: black;
}

.frame-699 p{
    width: 770px;
    height: 60px;
    font-style: regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    /* margin-top: 0 auto; */
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    justify-content: center;
    /* color: black; */
    
}
.bg-img{ 
    /* margin: -39px -221px -650px -221px;  */
    width: 100%
    height: 582px;
    
}

header .frame-698 .first-button-frame{ 
    width: 229px;
    height: 36px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-style: medium;
}
.note{
    background: wheat;
    width: 1360px;
    height: 117px;
    text-align: center;
    text-transform: capitalize;
    
}

.note h1{
    font-size: 48px;
}
.note p{
    font-size: 16px;
}
.card-container{
    display: flex;
    
.card{
 width: 322px;
 height: 300px;
 border-radius: 8px;
 gap: 16;
 padding: 24px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 list-style: none;
 background: #FFFFFF;
 
}
.card img{
    width: 32px;
    height: 32px;
    /* padding: 2.5px 5.5px; */
    background: #F95555;
    border-radius: 50%;
    display;


}

.card h2{
    width: 274px;
    height: 29px;
}
.card p{
    width: 274px;
    height: 40px;
}




.second-container{
    width: 1300px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60;
    /* background-color: #F95555; */
    
}
 
}
.second-container .knowledge{
 border-radius: 12px;
 width: 600px;
 height: 600px;
 display: flex;
 
 
}
.Solution h6{
    font-size: 16px;
}

.Solution h1{
    font-size: 48px;
    width: 700px;
    height: 117px;
}
.Solution p{
    width: 700px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.list-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16;
}

 footer{ 
    width: 1600px;
    height: 384px;
    padding: 120px 120px 30px 120px;
    display: flex;
    flex-direction: column;
    gap: 80;
    align-items: flex-start;
    background: var(--style, rgba(0, 25, 49, 1));
   

}

footer nav{
    display: flex;
    gap: 80;
}
    
    
.Social li a{  
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    gap: 80;
}
footer p{
    text-align: center bottom;
    margin: 0 auto;
    
}